@charset "UTF-8";

body {
    background-color: rgb(227, 229, 230);
}

header {
    background-color: black;
    height: 70px;
}

.cabecalho-pesquisa-txt {
    position: absolute;
    left: 19%;
    top: 4%;
    height: 35px;
    width: 600px;
    border: 50px;
    padding: 5px;
}

.menu {
    background-color: rgb(185, 149, 204);
    height: 35px;
    text-align: center;
}

.menu-item {
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    background-color: rgb(197, 181, 211);
    padding: auto;
    height: 22px;
    width: 120px;
    margin-top: 3.5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
}

.cabecalho-logo {
    position: absolute;
    top: 1%;
    left: 1.5%;
}

.btnCarrinho {
    padding: 7px 7px;
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    left: 91%;
    top: 2.5%; 
}

.btnEntrar {
    padding: 7px 7px;
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    left: 95%;
    top: 2.5%;     
}

button:hover, a:hover {
    background-color: rgb(129, 129, 129);
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: rgb(219, 218, 218);
}

.rodape-endereco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.rodape-endereco-texto {
    font-size: 12px;
}

.rodape-endereco-mapa {
    width: 350px;
    border: 2px solid rgb(197, 181, 211);
    border-radius: 3px;
}

.rodape-pagamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rodape-pagamento-item {
    height: auto;
    width: 350px;
}

.rodape-pagamento-item2 {
    height: 60px;
    width: 250px;
}

.rodape-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 5px;
}

.rodape-sociais-texto {
    font-size: 12px;
    margin: auto;
}

.formulario{
    width: 400px;
    padding: 30px;
    border:1px solid #ccc;
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field{
    width: 100%;
    margin: 15px 0;
}
.field label, 
.field span{
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

#formulario{
    margin:auto;
    text-align: center;
}

.formulario{
    margin: auto;
    border: 2px solid rgb(185, 149, 204);
    border-radius: 10px;
}

.p-form {
    text-align: justify;
}

